/*#top-header{
	background: red;
    
}*/
body{
	font-family: sans-serif;
}
h2{
	font-size: 1.7em;
}
.main-content{
	width:1000px;
	height: 800px;
	margin: 0 auto;
}
.slider-image{
	clear: left;
}
.sub-content{
	
	width: 950px;
}
.date-div{
	float: left;
	width: 100px;
	background-color: #1ABC9C;
	/*border: 1px solid #1ABC9C;*/
	
}
.post-content ul{
	margin-left: 15%;
}
.date-div-1 .month {
	font-size: 1.3em;
	padding-top: 20px;
	/*padding-bottom: 20px;*/
}

.date-div-1 .date{
	font-size: 1.5em;
	font-weight: bold;
}
.date-div-1{
	/*height: 100px;*/
	background-color: #eee;
	margin-top: 3px;
	padding-bottom: 10px;

}
.date-div-1 span { 

	display: block ;
} 
.comments{
	color: #fff;
	/*font-size: 1.1em;*/
}
.loop-content {
	width: 600px;
	float:left;
	margin-right: 10%;
}
.loop-content .support-form-content{
	 height: 1000px;
}
div.wpforms-container-full .wpforms-form .wpforms-field-label {
	 font-size: 12px;
}
div.wpforms-container-full .wpforms-form input[type="submit"], div.wpforms-container-full .wpforms-form button[type="submit"], div.wpforms-container-full .wpforms-form .wpforms-page-button {
    background-color: #000;
    border: 1px solid #000;
    color: #fff;
    font-size: 1.1em;
    
}
div.wpforms-container-full .wpforms-form input[type="date"], div.wpforms-container-full .wpforms-form input[type="datetime"], div.wpforms-container-full .wpforms-form input[type="datetime-local"], div.wpforms-container-full .wpforms-form input[type="email"], div.wpforms-container-full .wpforms-form input[type="month"], div.wpforms-container-full .wpforms-form input[type="number"], div.wpforms-container-full .wpforms-form input[type="password"], div.wpforms-container-full .wpforms-form input[type="range"], div.wpforms-container-full .wpforms-form input[type="search"], div.wpforms-container-full .wpforms-form input[type="tel"], div.wpforms-container-full .wpforms-form input[type="text"], div.wpforms-container-full .wpforms-form input[type="time"], div.wpforms-container-full .wpforms-form input[type="url"], div.wpforms-container-full .wpforms-form input[type="week"], div.wpforms-container-full .wpforms-form select, div.wpforms-container-full .wpforms-form textarea {
   
    border: 2px solid #eee;    
   
}
a {
	text-decoration: none;
}
.post-content ul li i span {
	color: #000;
	font-weight: bold;
}
.post-content ul li i a {
	margin-left: 10px;
	color: #1ABC9C;
}
/*.fa-folder , .fa-tags{
	color: #1ABC9C;
}*/
.sidebar-content .primary-sidebar ul li a{
	font-size: 1.5em;
	
	color: #1ABC9C;
}
header{
	
	background-color: #000;
	color:#fff;
}
.menu-social-menu-container #menu-social-menu{
	padding: 10px;
}
.menu-social-menu-container #menu-social-menu li{
   display: inline;
}
.menu-social-menu-container #menu-social-menu li a{
   padding: 5px 20px 5px 20px;
   color: #fff;
}
.header-bottom-menu div  ul{
	padding:20px;
}
.header-bottom-menu div ul li a{
	padding: 5px 20px;
	font-size: 1.5em;
	color: #000;
}
.header-bottom-menu div ul li{
	display: inline;
}

.blog-title a{
	color: #1ABC9C;	
	font-style: italic;
}
.header-left{
	width:300px;
	float: left;
}
#header {
	/*background: #90a090;*/
	/*border-bottom: double 3px #aba;
	border-left: solid 1px #9a9;
	border-right: solid 1px #565;
	border-top: solid 1px #9a9;
	font: italic normal 230% 'Times New Roman', Times, serif;
	letter-spacing: 0.2em;
	margin: 0;
	padding: 15px 10px 15px 60px;*/
}
.footer-part{
	background-color: #000;
	clear:left;
}
.sidebar-content{
	/*width:300px;*/
	
}

.primary-sidebar ul {
	padding-left: 5px;
}
.primary-sidebar ul  li a {
	line-height: 2.5;
}
.read-more-content{
	width: 180px;
	height: 35px;
	background-color: #1ABC9C;
	padding-top: 12px;
}
.read-more-content a{
	color: #fff;
	text-transform: uppercase;	
	font-size: 0.9em;
	

}
ul  {

	list-style-type: none;
}
.error{
	background-color: #1ABC9C;
	margin: 10px auto;
	width:500px;
    height: 150px;
    color: #fff;
	border:1px solid #1ABC9C;
}
.text-center{
	text-align: center;
	
}
.error-content{
	font-size: 2.1em;
	font-weight: bold;
	
}
#error-home-page{
	font-size: 1.4em;
}
.body-content{
	font-size: 1.7em;
}
.title a{
	color: #000;
	
}
.author-title{
	color: #1ABC9C;
}
.search-field{
	border: 2px solid #eee;
	height: 30px;
    width: 200px;

}
.search-form{
    
	margin-top:3%;
}
#archives-dropdown-3{
	border: 2px solid #eee;
	border-radius: 5px;
	width: 200px;
}
.screen-reader-text{
   display: none;
}
.elements-div{
	font-size: 1.5em;
}
table.user-info {

    background: #fff none repeat scroll 0% 0%;
    border-collapse: collapse;
    width: 100%;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
table.user-info th{
    border: 1px solid #eee;
    padding: 10px;
    background: #1ABC9C;
    color: #fff;
}
table.user-info td {
    border: 1px solid #eee;
    padding: 10px;
}
.read-more-btn-div{
	background-color: #eee;
	height: 130px;
}
.read-more-btn-div .first-div{
	padding-top: 25px;
}
.read-more-btn-div .second-div{
	padding-top: 2px;
}
.read-more-btn-div div button{
	
    border: 1px solid #eee;
    color: #fff;
    height: 35px;
    padding: 5px;
    text-transform: uppercase;
    width: 120px;
}
.read-more-btn-div div button.green{
   background-color: #1ABC9C;
     border:1px solid #1ABC9C;
}
.read-more-btn-div div button.black{
	 background-color: #3A3C41;
     border:1px solid #3A3C41;
}
.read-more-btn-div div button.red{
	 background-color: #EA3200;
     border:1px solid #EA3200;
}
.read-more-btn-div div button.orange{
	 background-color: #FFA13C;
     border:1px solid #FFA13C;
}
.read-more-btn-div div button.yellow{
	 background-color: #FFD543;
     border:1px solid #FFD543;
}
.read-more-btn-div div button.lite-green{
	 background-color: #6DC068;
     border:1px solid #6DC068;

}
.read-more-btn-div div button.white{
	background-color: #fff;
     border:1px solid #fff;
    color: #000
}
.read-more-btn-div div button.ash{
	 background-color: #eee;
     border:1px solid #fff;
}
.grid .two-grid{
	width:1000px;
}
.grid .two-grid .two-child-1{
	width:490px;
	/*background-color: #eee;*/
	float: left;
}
.grid .two-grid .two-child-2{
	width:490px;
	float: left;
	margin-left: 15px;
	/*background-color: green*/
}
.grid .three-grid{
	clear: left;
	width:1000px;
}
.grid .three-grid .three-grid-child-1{
   width: 320px;
   float: left;
}
.grid .three-grid .three-grid-child-2{
	width: 320px;
    float: left;
    margin-left: 15px;
}
.grid .three-grid .three-grid-child-3{
	width: 320px;
    float: left;
    margin-left: 15px;
}
.fa-long-arrow-left{
	color: #1ABC9C;
}
.previous-post-div{
	 border: 1px solid #ccc;
    border-radius: 28px;
    font-size: 1.5em;
     margin: 5% 0;
    padding: 10px;
    width: 300px;
}
.previous-post-div a{
	color: #1ABC9C;
}
.comment-form-comment textarea{
	width: 650px;
}
.comment-form-comment textarea , .comment-form p input
{ 
 border :2px solid #eee;
}
.comment-form p label{
	font-weight: bold;
}
.comment-form p input{
	width: 650px;
    height: 25px;
    margin-top: 10px;
}
.comment-form p.form-allowed-tags{
	width:650px;
	color: #548AA2;
	background-color: #E7F6F3;
	border:1px solid #BCE8F1;
}
.comment-form .form-submit .submit{
    width: 140px;
    height: 35px;
    background-color: #000;
    color: #fff;
    border: 1px solid #000;

}
#commentform{
  font-size: 1.5em;
}
/* ## Comments
--------------------------------------------- */


.entry-comments h3{
   /* font-size: 30px;*/
    margin-bottom: 30px;
}
.post-navigation,
.pagination,
.image-navigation,
.entry-header,
.entry-summary,
.entry-content,
.entry-footer,
.page-header,
.page-content,
.post-thumbnail,
.content-bottom-widgets,
.comments-area {
	/*margin-right: 28px;*/
	/*margin-left: 28px;*/
	max-width: 100%;
}
ol {
	list-style-type: none;
}

.comment-body{
	margin-top: 5%;
	width: 570px;
	font-size: 1.5em;
	background-color: #F6F6F6;
	border: 1px solid #F6F6F6;
	-webkit-box-shadow: 3px 3px 2px  #F6F6F6;  
   -moz-box-shadow: 3px 3px 2px #F6F6F6; 
    box-shadow: 1px 1px  #ccc; 
   /*box-shadow: 3px 3px 2px  #F6F6F6;*/
}

.comment-date{
	color: #1ABC9C;
}
.children{
	margin-top: 15px;
}
.avatar{
	margin-left:-40px;
}
.comment-body cite a{
	/*margin-left: 6%;*/
	color: #000;
}
/*.children cite.fn{
	margin-left: 6%;
}*/
.says{
	display: none;
}
.comment-meta{
	margin-left: 5%;
}
.comment-meta a{
	color: #1ABC9C;
}
.comment-body p{
	margin-left: 4%;
}
.comment-body .reply , .children .reply{
	text-align: right;
	margin-right: 4%;
	/*position: relative;
    top: -83px;
    right: 20px;*/
}
.comment-body .reply a , .children .reply a{
	color: #fff;
	background-color: #1ABC9C;
	padding: 10px 20px;    
   
}
.comment-form-comment label{
	display: none;
}
#respond { 
/*background: #ececec;
padding:0 5px 0 5px;*/
}

/* Highlight active form field */

/*#respond input[type=text], textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
}
 
 
#respond input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 1);
}*/

