body{
	background-color: #ccc;
	font-family: sans-serif;
	font-size: 1.5em;
	margin-left: 5%;
}
h1{
	color: red;
}
p{
	color: green;
}
ul{
  list-style-type: none;
}
.main-content , .single-page{
	width:100%;
}
.post-content{
	width: 45%;
    float: left;
}
.sidebar{
	width: 45%;
	float: right;
}
footer{
	clear:both;
	background-color: #3A3C41;
    font-size: 1.5em;
	color:#fff;

}
.single-img{
	width:100%;
	
}